# dependencies
**/node_modules
**/dist
**/build
**/coverage/**

# misc
.DS_Store
.idea/

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# rust
**/target/debug
**/target/release
**/target/tmp
**/target/wasm32-unknown-unknown
**/target/wasm32-wasip1
**/target/.rustc_info.json
**/target/CACHEDIR.TAG
**/*.rs.bk
Cargo.lock
pkg/
wasm-pack.log
**/benches/results/**/new
**/benches/results/**/change
**/benches/results/**/report
