.yarn/
.yarnrc.yml
.eslintrc
.prettierrc
import-sorter.json
.vscode/


**/.stylelintrc
**/coverage/
**/dist/
**/tsconfig.vite.json
**/vite.config.ts 
**/vite-env.d.ts

packages/pixelsProcessors/ASPixelsProcessor/assembly/utils.ts
packages/pixelsProcessors/RustPixelsProcessor/benches/results