@font-face {
  font-family: 'Lato';
  src: url(../Assets/fonts/Lato-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../Assets/fonts/Lato-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url(../Assets/fonts/Lato-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../Assets/fonts/Lato-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url(../Assets/fonts/Lato-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../Assets/fonts/Lato-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
