$primary-blue100-light: #012b7e;
$primary-blue50-light: #0651d7;
$primary-blue20-light: #136eef;
$primary-blue10-light: #3098f8;
$primary-blue0-light: #6bd7fd;

$primary-blue100-dark: #012b7e;
$primary-blue50-dark: #0651d7;
$primary-blue20-dark: #2d8ee7;
$primary-blue10-dark: #3ea7f2;
$primary-blue0-dark: #58c5fa;

$grey100-light: #000000;
$grey50-light: #616067;
$grey20-light: #b8b9be;
$grey10-light: #eaecec;
$grey0-light: #f8f8f9;

$grey100-dark: #f8f8f9;
$grey50-dark: #dcdedf;
$grey20-dark: #b4b7ba;
$grey10-dark: #5a5b60;
$grey0-dark: #000000;

