@use 'colors';

html[data-theme="light"] {
    --primary-blue100: #{colors.$primary-blue100-light};
    --primary-blue50: #{colors.$primary-blue50-light};
    --primary-blue20: #{colors.$primary-blue20-light};
    --primary-blue10: #{colors.$primary-blue10-light};
    --primary-blue0: #{colors.$primary-blue0-light};

    --grey100: #{colors.$grey100-light};
    --grey50: #{colors.$grey50-light};
    --grey20: #{colors.$grey20-light};
    --grey10: #{colors.$grey10-light};
    --grey0: #{colors.$grey0-light};
}
  
  html[data-theme="dark"] {
    --primary-blue100: #{colors.$primary-blue100-dark};
    --primary-blue50: #{colors.$primary-blue50-dark};
    --primary-blue20: #{colors.$primary-blue20-dark};
    --primary-blue10: #{colors.$primary-blue10-dark};
    --primary-blue0: #{colors.$primary-blue0-dark};

    --grey100: #{colors.$grey100-dark};
    --grey50: #{colors.$grey50-dark};
    --grey20: #{colors.$grey20-dark};
    --grey10: #{colors.$grey10-dark};
    --grey0: #{colors.$grey0-dark};
}