{
  "ignorePatterns":["as-pect.config.js"],
    "rules": {
        "import/extensions": [
            "error",
            "ignorePackages",
            {
              "js": "always",
              "ts": "never"
            }
          ]
    }
}